{% for date in days %}
<div class="c-alps-calendar__day {% if date.when %}c-alps-calendar__day--{{date.when}}{% endif %}" role="gridcell" {% if date.events %} data-event-day {% endif %}>
  <button>
    <h3>
      {% if date.events %}
        {% if date.events|length == 1 %}
          <span>1 event,</span>
        {% elseif date.events|length > 1 %}
          <span>{{ date.events|length }} events,</span>
        {% endif %}
      {% else %}
        <span>0 events,</span>
      {% endif %}
      <time datetime="{{ date.datetime }}">{{ date.day }}</time>
    </h3>
  </button>
  <div class="c-alps-calendar__event">
    <h3>
      {% if date.events %}
        {% if date.events|length == 1 %}
          <span>1 event,</span>
        {% elseif date.events|length > 1 %}
          <span>{{ date.events|length }} events,</span>
        {% endif %}
      {% else %}
        <span>0 events,</span>
      {% endif %}
      <time class="c-calendar-event__time" datetime="{{ date.datetime }}">{{ date.day }}</time>
    </h3>
    {% if date.events %}
      <div class="c-calendar-event__marker"></div>
    {% endif %}
    {% for event in date.events %}
      <div class="c-calendar-event__meta">
        {% if event.title %}
          <p class="u-font--secondary--s">
            {% if event.meta.start %}
              {{ event.meta.start }}
            {% endif %}
            {% if event.meta.end %}
              &mdash; {{ event.meta.end }}
            {% endif %}
          </p>
          <p class="c-calendar-event__title">{{ event.title }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% for event in date.events %}
    <div class="c-calendar-info-hover u-border--left">
      <div class="c-calendar-info-hover__inner">
       {% include "@molecules/events/event-calendar-info.twig" %}
      </div>
    </div>
  {% endfor %}
</div>
{% endfor %}
